
<html lang="en">
<?php include "head.php"; ?>
<body>
<div class="container background">
    <?php include "header.php"; ?>
    <div class="row page">
             {% for product in oldProduct %}
                <div class="col-4 ">
                    <div class="card stylecard" style="width: 20rem;">
                        <img class="afis" src="images/{{ product.image }}"class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h6 class="card-title">{{ product.name }}</h6>
                            <p class="card-text descript">{{ product.description }}</p>
                            <p class="card-text cod">{{ product.code }}
                            <div class="btn-group">
                                <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Choose light color
                                </button>
                                <div class="dropdown-menu color">
                                    {% for productColor in product.getColor()  %}
                                    <input type="checkbox"/> {{ productColor.getColor().name }}
                                    {% endfor %}
                                </div>
                            </div>
                            <p class="card-text pret">{{ product.price }} RON </p>
                            <button data-url="addToCart.php?id={{ product.getId() }}" class="btn btn-info myAddToCart cos">Adauga in cos</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
